.face-snap-card {
    width: 400px;
    box-shadow: 0 0 10px 2px grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    h2, p {
        padding: 0 10px;
    }
    &__img {
        height: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 15% 15%;
            
        }
    }
}

.snapped {
    background-color: black;
    color: white;
    button {
        border: 1px white solid;
    }
}