<div class="form-card">
    <h2>Nouveau Facesnap</h2>
    <!-- formulaire réactif -->
    <form [formGroup]="snapForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" rows="4" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">URL de l'image</label>
            <input type="text" id="imageUrl" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="location">Lieu</label>
            <input type="text" id="location" formControlName="location">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
        </div>
    </form>
</div>

<div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: "d MMMM yyyy à HH:mm" }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Dernière localisation connue : {{ faceSnap.location }}</p>
</div>
